- content_for :title, 'Login'

= simple_form_for @session, url: session_path do |f|
  %fieldset
    = f.input :email
    = f.input :password
    = f.submit id: 'login'

-#= link_to "Forgot Password?", new_password_reset_path
