# Bundler's machine-specific cache files
/.bundle
/vendor/bundler
/vendor/cache

# Standard rails exclusions
/db/*.sqlite3
/log/*
*.lck
/tmp/*
/config/database.yml
*~
*.rbc
*.sassc
.sass-cache
.rspec

# Pre-Compiled Assets
/public/assets

# Compass image sprites
/app/assets/images/icons-*.png

# Mac OSX dingleberries
.DS_Store
.~lock.*

# YARD artifacts
.yardoc
_yardoc

# Generated docs
/doc/

# node-specific foreman config
/.foreman

# Wiki source
/wiki

/public/uploads/

.rbenv-vars
