# Bundler's machine-specific cache files
/.bundle
/vendor/bundle
/vendor/cache

# Standard rails exclusions
/db/*.sqlite3
/log/*
*.lck
/tmp/*
/config/database.yml
*~
*.rbc
*.sassc
.sass-cache
.rspec

# KDE dingleberries
.directory

# Mac OSX dingleberries
.DS_Store
.~lock.*

# YARD artifacts
.yardoc
_yardoc

# Generated docs
/doc/app/
/doc/guides/
/doc/plugins/

# Titanium/Aptana Studio Project File
.project

# node-specific foreman config
/.foreman

# Wiki source
/wiki
