- title('Trust Master PPN Design Elements')
- content_for(:content_div_class, 'col-1')

#col
  %h3 Color Palette

  #colors
    .blue            blue
    .purple          purple
    .green          green
    .red             red
    .orange          orange

    .blue.tint      blue-tint
    .purple.tint    purple-tint
    .green.tint     green-tint
    .red.tint       red-tint
    .orange.tint    orange-tint

    .bordered.blue.tint      blue-tint
    .bordered.purple.tint    purple-tint
    .bordered.green.tint     green-tint
    .bordered.red.tint       red-tint
    .bordered.orange.tint    orange-tint

    .text            text
    .light-text      light-text
    .grey            grey
    .light-grey      light-grey
    .very-light-grey very-light-grey
    .white           white

  %h3 Fonts
  #fonts
    - @fonts.each do |variable, fonts|
      %h4= "'$#{variable}' font-family:"
      %ul
        - fonts.each_with_index do |f, i|
          - family = fonts[i..-1].map{|name| "'#{name}'" }.join(',')
          %li{style: "font-family: #{family}"}= f