= simple_form_for(@search, url: search_index_path, method: :get, wrapper: :search, html: {id: :company_search}) do |form|
  .search_wrap
    = form.input :query, as: :search
    = form.button :submit
  .filter
    = form.input :category_ids, as: :grouped_select, collection: Category.includes(:sub_categories).all, group_method: :sub_categories, skip_hidden_field: true, input_html: { multiple: true }
