- title t('.title')
- content_for :content_div_class, 'col-2-wide'

#col-a
  = render 'form'

  = render 'popular_categories', popular_categories: popular_categories

%h2.secondary-title= t('.secondary_title')

#col-b
  #company_details= render 'buyers_guide_welcome'

