<h2>Login</h2>
<fieldset>
  <%= form_for @user, :url => { :action => "login" }, :html => { :class => "login_user"} do |f| %>
        <% if @user.errors %>
            <div class="validation_summary">
                <ul>
                    <% @user.errors.each do |error| %>
                        <li><%= error %></li>
                    <% end %>
                </ul>
            </div>
      <ul>
        <li>
          <label for="user_email_address">Email Address*</label>
          <input type="text" name="user[email_address]" id="user_email_address" value="<%=@user.email_address%>"/>
        </li>
        <li>
          <label for="user_password">Password*</label>
          <input type="password" name="user[password]" id="user_password"/>
        </li>
        <li>
          <input type="hidden" name="return_uri" value="<%=@return_uri%>"/>
          <input type="submit"/>
        </li>
      </ul>
        <% end %>
  <% end %>
</fieldset>
