%li[company]{class: dom_class_for_search_result(company)}

  %h3= company.name
  .arrow

  -# This is in a <script> to defer loading it into the DOM until it's selected. This makes for faster page-load times, but slightly less responsiveness when selecting a result (that assumes a move operation; before I made this change, I was creating new nodes, anyway, so this switch is 100% an improvement)
  %script.details{type: 'text/html'}
    = render 'companies/profile', company: company

    - if current_user.is_a? Administrator
      .admin_panel
        - if company.active
          .tag.ok active
        - else
          .tag inactive

        - if company.visible
          .tag.ok visible
        - else
          .tag invisible

        .link= link_to '[Edit in Admin]', admin_company_path(company)