- content_for :title, 'Companies'

%a{:href => "/companies/new"} Add a Company

%table.companies_index
  %thead
    %tr
      %td Name
      %td Actions
  %tbody
    - @companies.each do |company|
      %tr
        %td
          = link_to company.name, company

        %td
          = link_to "Edit", company, action: :edit
          = link_to "Delete", company, action: :delete, class: :delete
