- content_for :title, 'Companies'

= link_to 'Add a Company', new_company_path
%hr
%table.companies_index
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @companies.each do |company|
      %tr
        %td
          = link_to company.name, company

        %td
          = link_to "Edit", edit_company_path(company)
          = link_to "Delete", company, method: :delete, class: :delete
