<a href="/companies/">Return to Index</a>
<h2>Create Company</h2>
<fieldset class="new_company">
  <input type="hidden" id="form_destination" value="/companies/">
  <%= render :partial => 'form', :locals => { :company => @company }%>
</fieldset>
