<h1>Provider Search</h1>
<div class="">
	<form action="/companies/search_json" method="GET" class="companies_search">
		<input type="text" id="company_name" name="company_name"/>
	</form>
</div>

<ul class="companies_index_search">
</ul>