- title t('.title')

/ This is the template for displaying companies, data's inserted by javascript
%script#company_template{type: "text/x-jquery-tmpl"}
  <li class="company">
  <input type="hidden" class="company_id" value="${company.id}"/>
  <span class="company_name">${company.name}</span>
  <span class="company_address">
  ${company.address_1}{{if company.address_2}} ${company.address_2}{{/if}}, ${company.city}, ${company.state}, ${company.zip_code}
  </span>
  <span class="company_phone_number">${company.main_phone_number}</span>
  <span class="company_web_site">${company.web_site}</span>
  </li>
%h1 Provider Search
%div
  %form.companies_search{action: "/companies/search_json", method: "GET"}
    %input#company_name{name: "company_name", type: "text"}/
    %img.loading_graphic.hidden{alt: "Loading...", src: "/images/loading_small.gif"}/
%ul.companies_index_search
.companies_index_search_no_data_template.hidden
  .no_data
    %h1 No Companies Found
    %p We couldn't locate any matching companies.  Please try a broader search.
.company_show
.company_show_no_data_template.hidden
  .no_data
    %h1 No Company Selected
    %p Please select a company on the left to view its details.
