%ul
  %li
    %label Name
    %span= certification.name
  %li
    %label Title
    %span= certification.title
  %li
    %label Description
    %p= certification.description
  %li
    = link_to 'Delete', [@company, certification], method: :delete, class: :delete
