%ul
  %li
    %label Name
    %span= show.name
  %li
    %label Title
    %span= show.title
  %li
    %label Description
    %p= show.description
  %li
    %a.delete{:href => "/certifications/#{show.id}/delete"} Delete
