<table class="discounts_index">
	<thead>
		<tr>
			<th>Discount Name</th>
			<th>Discount Type</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @company.discounts.each do |discount| %>		
			<%= render :partial => "show", :object => discount %>
		<% end %>
	</tbody>
</table>
