// This file is interpreted in the context of
// .wrapper-outer #wrapper #content

&.index

&.edit, &.create, &.new, &.update

.attachment_thumbnail
  float: right
  width: 100px
  background: $very-light-grey
  border: 1px solid $light-grey
  padding: 10px
  text-align: center
  margin: 0 10px 10px

  img
    background-color: $grey
    border: 1px solid $light-grey
    +box-shadow(0 0 10px $grey)
    display: block
    overflow: hidden

.attachment_summary
  margin-top: 10px
  font-style: italic

  .summary
    margin-right: 8px
  & > a
