// this file is interpreted in the context of
// .wrapper-outer #wrapper #content.debug

table
  width: 100%

  td, th
    padding: 2px 10px 2px 0
    font-size: 12px

  th
    text-align: left

  tr
    border-bottom: 1px solid $light_grey

&.routes
  table td.reqs
    font-family: monospace