// This file is interpreted in the context of
// .wrapper-outer #wrapper #content.discounts

&.index

  a.add
    margin-left: 0
    line-height: 20px




&.edit, &.create, &.new, &.update

  .image
    float: right
    width: 180px
    background: #ececec
    border: 1px solid #ddd
    padding: 10px 15px
    text-align: center

    h4
      margin: 0 0 10px 0

    img
      background-color: #ccc
      border: 1px solid $grey
      @include box-shadow(0 0 10px $grey)
      width: 100%
      display: block

    a.download
      font-size: 13px
      font-weight: bold
      display: inline-block
      padding: 5px 5px 5px 23px
      background: url(/assets/icon-download.png) 0 center no-repeat
      margin: 5px 0 0 0
