.personal_license_data, .business_license_data, .business_filing_data
  .data
    margin: 15px auto 0
    width: 100%
    border: none
    padding: 0

    & > table
      margin: 0
      width: 100%
      border: 1px solid $grey

      & > tbody
        width: 100%

        &.parsed

        &.raw
          display: none

          tr:nth-of-type(odd)
            background-color: $faint-red

      tr
        background-color: white
        clear: both
        &:nth-of-type(odd)
          background-color: $faint-blue

        & > td, & > th
          padding: 1px 4px
          text-align: left

        & > th
          width: 200px
          font-weight: bold
          border-right: 1px solid $grey

        & > td
          p
            margin: 0

          ul, ol
            list-style: inside

            & > li
              margin: 0 0 0 4px

          // nested tables
          table
            margin: 4px 0
            border: 1px solid $grey
            width: 100%

            & > tbody
              display: inherit

            th
              font-weight: bold
              width: auto

            tr
              background-color: $white

              &:nth-of-type(odd)
                background-color: lighten($blue, 45%) !important

    .meta
      margin-top: 5px
      font-size: 80%

      .last_updated, .raw_data_message
        display: inline

      .raw_data_message
        border-left: 1px solid $text
        padding-left: 8px
        margin-left: 5px

  &.ui-accordion-content
    padding: 10px
    width: auto
