// this file is interpreted in the context of
// .wrapper-outer #wrapper #content

.flash
  border: 1px solid $light-grey
  padding: 5px
  margin-bottom: 20px
  font-size: 14px

  &.error, &.alert
    background-color: rgba(#FFBCBC, 0.4)
  &.notice
    background-color: rgba(#d5ffcc, 0.4)
  &.warning
    background-color: rgba(#d5ffcc, 0.4)