// This file is interpreted in the global context

#footer-links
  overflow: hidden
  float: left
  width: 29em

  & > ul
    & > li
      float: left
      border-right: 1px solid $blue
      line-height: 16px

      &:last-of-type
        border-right: none

      & > a
        margin: 0 7px
        color: $blue
        +hover-link

#trust-logos
  width: 128px
  margin: 0 auto

#social-media
  float: right
  overflow: hidden
  width: 100px

  & > h5
    text-align: center
    color: #4e4e4e
    font-size: 14px

  & > ul
    text-align: center
    margin-top: 10px
    & > li
      margin: 5px
      +inline-block
      & > a
        +inline-block
        +hide-text
      &.facebook > a
        +icons-sprite('facebook')
        +icons-sprite-dimensions('facebook')
      &.twitter > a
        +icons-sprite('twitter')
        +icons-sprite-dimensions('twitter')
