// This file is interpreted in the context of
// .wrapper-outer > #footer

&
  color: $blue
  font-size: 12px
  overflow: hidden

.footer-links
  overflow: hidden
  float: left

  ul
    li
      float: left
      border-right: 1px solid
      line-height: 100%

      &:last-of-type
        border-right: none

      a
        margin: 0 7px

.trust-logos
  width: 128px
  margin: 0 auto

  img

.social-media
  float: right
  overflow: hidden

  h5
    text-align: center
    color: #4e4e4e
    font-size: 14px

  ul
    li
      margin: 5px
      float: right
