input, select, textarea, button
  font-family: $primary-fonts
  &:focus
    outline: none
    +single-box-shadow($blue, 0, 0, 10px, 0)

#{$all-text-inputs}, textarea
  // width: 374px
  border: 1px solid $light-grey
  padding: 4px 5px
  vertical-align: top
  width: 360px
  text-align: left

  &:focus
    border: 1px solid $blue

select
  padding: 2px 5px
  margin: 0 5px 0 -4px
  width: 372px

textarea
  padding: 4px 0 4px 5px
  height: 170px

input
  &[type="checkbox"]
    width: auto

fieldset
  margin: 20px 10px
  padding: 15px 10px
  border-bottom: 1px solid $light-grey
  font-size: 13px

  fieldset
    & > legend
      & > h3
        text-transform: none

      & > .what_is_this
        & > .hint
        & > .content

    &:last-child
      border-bottom: none

  &#buttons
    text-align: center
    border-bottom: 0
    padding-bottom: 25px

  &#buttons, .login-btns
    a.cancel, input[type="submit"], input.save, input.update
      +inline-block

    a.cancel
      +button(simple, $red)

    input[type="submit"], input.save, input.update
      +button(simple, $blue)

  &#errors
    border:
      width: 1px 0
      style: solid
      color: $red
    background: $red-tint
    margin: 20px
    & > legend
      display: none

    .message
      font-weight: bold
    .fields_with_errors
      margin-top: 10px
      list-style: circle
      padding-left: 30px

  & > legend
    margin-top: 0
    +clearfix
    width: 100%

    & > h3.floated
      padding-bottom: 10px

    & > .what_is_this
      & > .content

  .instructions
    clear: both
    padding-left: 10px
    margin: 0 0 20px

  li
    &.input
      margin: 15px 0

      &.error
        color: black
        border:
          width: 1px 0
          style: solid
          color: $red
        background: $red-tint
        padding: 10px 0

      &.date
        select
          width: auto

      &.select, &.grouped_select
        // this will be Chosen-enabled, so styling needs a little help to remain consistent
        select
          width: 371px

      &.attached_file
        +clearfix
        .attachment
        .attachment_summary
          margin-left: 155px

      .hint, .error
        display: block
        margin-left: 155px
        width: 360px

      .hint
        color: $text
        font-size: 11px
        font-style: italic
      .error
        color: $red
        font-weight: bold

      & > label
        width: 140px
        text-align: right
        font-size: 13px
        +inline-block
        margin-right: 8px
        vertical-align: top
        padding-top: 4px


    &.actions
      text-align: right

  ul.horizontal
    padding-left: 148px

    & > li
      float: left
      // $width: 282px
      $width: 140px
      width: $width
      margin: 0 15px 15px 0

      &.short
        $short_width: 62px
        width: $short_width
        & > input
          width: $short_width - 12px

      & > label
        width: 100%
        display: block
        text-align: left
        margin-bottom: 2px
      & > input
        width: $width - 12px
        display: block

  .actions
    clear: both
    margin-left: 10px

    & > a
      +inline-block
      margin-left: 10px
      padding: 0

