input, select, textarea, button
  font-family: $primary-fonts

  &:focus
    outline: none
    +single-box-shadow($blue, 0, 0, 10px, 0)

#{$all-text-inputs}, textarea
  // width: 374px
  border: 1px solid $grey
  padding: 4px 5px
  vertical-align: top
  width: auto

  &:focus
    border: 1px solid $blue

select
  // width: 383px
  margin: 0 5px 0 -4px

textarea
  // width: 380px
  padding: 4px 0 4px 5px
  height: 170px

input
  &[type="checkbox"]
    width: auto

fieldset
  margin: 20px 10px
  padding: 15px 10px
  border-bottom: 1px solid $light-grey
  font-size: 13px

  fieldset
    & > legend
      & > h3
        text-transform: none

      & > .what_is_this
        & > .hint
          // margin-right: -10px

    &:last-child
      border-bottom: none

  &#buttons
    text-align: center
    border-bottom: 0
    padding-bottom: 25px

  &#buttons, .login-btns
    a.cancel, input[type="submit"], input.save, input.update
      +inline-block

    a.cancel
      +button(simple, $red)

    input[type="submit"], input.save, input.update
      +button(simple, $blue)

  & > legend
    margin-top: 0
    +clearfix
    width: 100%

    & > h3.floated
      float: left

    & > .what_is_this
      text-align: right

      & > .content
        text-align: left
        clear: both
        margin: 23px 0 10px 0

  .instructions
    clear: both
    padding-left: 10px
    margin: 0 0 20px

  li
    &.input
      margin: 15px 0

      &.error
        color: black
        border: 1px solid $red
        background: $faint-red
        padding: 10px 0

      &.date
        select
          width: auto

      span.error
        margin-left: 10px

      // hints
      .hint
        display: block
        font-size: 11px
        font-style: italic
        margin-left: 155px
        width: auto
        color: $text

      & > label
        width: 140px
        text-align: right
        font-size: 13px
        +inline-block
        margin-right: 8px
        vertical-align: top
        padding-top: 4px

    &.actions
      text-align: right

  .actions
    clear: both
    margin-left: 10px

    & > a
      +inline-block
      margin-left: 10px
      padding: 0

