// This file is interpreted in the context of
// .wrapper-outer > #wrapper > #header

&
  border-bottom: 1px solid $grey
  @include box-shadow(0 6px 12px -7px #999)

// Logo
h1
  float: left
  a
    img

// User Nav
.header-nav
  position: absolute
  top: 10px
  right: 10px

  .welcome
    float: left
    font-size: 15px
    line-height: 22px
    margin-right: 20px
    @include inline-block

  a:hover
    text-decoration: none

  // Account Links
  ul.account-links
    height: 24px
    margin-right: -18px
    float: left

    & > li
      float: left
      zoom: 1
      position: relative
      z-index: 100
      background: url(/assets/bg-account-links.gif) no-repeat 0 0
      width: 115px

      &.nav-profile
        background-position: 0 0
        &:hover, &.hover
          background-position: 0 -24px
      &.nav-account
        background-position: -114px 0
        &:hover, &.hover
          background-position: -114px -24px
      &.nav-logout
        background-position: -235px 0
        &:hover, &.hover
          background-position: -235px -24px

      &:hover, &.hover
        ul
          visibility: visible

      .divider
        @include account-links-divider
        float: right
        margin: 3px 0 0 0

      a
        // This is the top level menu label
        display: block
        height: 24px
        padding-left: 40px
        line-height: 24px

      ul
        // submenu
        visibility: hidden
        position: absolute
        top: 100%
        left: 1px
        background-color: #efefef
        padding: 0
        z-index: 1
        width: 150px
        border: 1px solid #d5d5d5
        border-top: 0

        // This is second/deeper menu item.
        li
          float: none
          margin: 0
          padding: 0 10px

          &:hover
            background: #d9d9d9
          &.active
            font-weight: bolder
          a
            background: none
            padding-left: 0
            width: auto

.search
  position: absolute
  right: 10px
  top: 46px

  fieldset
    margin: 0
    padding: 0
    border: none

  input
    &[type="search"]
      width: 187px
      height: 16px
      padding: 4px 5px

    &[type="submit"]
      @include btn-search
      text-indent: -9999px
      border: 0
      margin-left: -4px

// Main Nav (search/admin)
.main-nav
  float: right
  clear: right
  margin-top: 75px

  li
    float: left
    line-height: 34px
    padding: 0 27px

    &:hover
      background-color: $very-light-grey

      a
        text-decoration: none
        color: $blue

    &.active
      background-color: $blue

      &:hover
        background-color: $blue

      &, a, &:hover a
        color: $white
        font-weight: bold


