// this file is interpreted in the context of
// .wrapper-outer #wrapper #content

#col-a
  .search
    margin-bottom: 20px
    padding: 15px 15px 12px
    background-color: white
    border: 1px solid $light-grey

    .search_wrap
      margin-bottom: 15px
      overflow: hidden

      input
        &[type="search"]
          @include border-radius(16px)
          border: 1px solid $light-grey
          float: left
          background: none
          width: 241px
          height: 16px
          padding: 6px 16px
          color: #999
          font-size: 13px
          vertical-align: middle

        &[type="submit"]
          @include button(shiny, $blue)
          padding: 6px 17px 5px
          float: right
          // text-indent: -9999px
          // @include inline-block
          // border: none
          // margin-left: 2px
          // line-height: 75px

    .filter
      #sub_category_chzn
        ul.chzn-choices
          border: 1px solid $light-grey

          .search-field
            input
              padding-left: 16px
      select
        width: 100%

  .results
    background-color: white
    border: 1px solid $light-grey
    margin-bottom: 10px

    h4, .pagination
      margin: 13px 0 12px

    h4
      float: left
      color: $blue
      margin-left: 10px

    .pagination
      float: right
      overflow: hidden
      margin-right: 10px
      padding-top: 2px

      // .bottom
      //   margin-right: 0

      span
        // float: left
        margin: 0 7px
        line-height: 12px

        &.next, &.prev
          a
            width: 10px
            height: 16px
            text-indent: -9999px
            @include inline-block

        &.next a
          @include pagination-next

        &.prev a
          @include pagination-prev

    ul.companies
      border-top: 1px solid $light-grey
      margin-top: 15px
      clear: both

      li
        padding: 11px
        font-size: 12px
        border-bottom: 1px solid $light-grey
        cursor: pointer

        &:last-of-type
          border-bottom: none

        &:hover
          background: $light-grey url(/assets/arrow-sb-active.gif) 95% center no-repeat
          color: $darker-blue
          a
            color: $darker-blue

        &.selected
          background: $blue url(/assets/arrow-sb-hover.gif) 95% center no-repeat
          color: $white
          a
            color: $white

        h3
          text-transform: uppercase

        a
          color: $blue

        .details
          display: none

#col-b
  ul.nav
    overflow: hidden
    margin-bottom: 20px

    li
      float: left
      margin: 0 37px
      font-weight: bold
      text-align: center

      &:first-of-type
        margin-left: 0

      &:last-of-type
        margin-right: 0

      a

  #company_details
    h3
      float: left

    span.in_business_since
      font-size: 11px
      font-weight: normal
      text-transform: capitalize
      @include inline-block
      margin-left: 15px

    .identity, .service, .credentials, .discounts
      display: none
      clear: left
      margin-top: 5px
      padding-top: 5px
      border-top: 1px solid $grey

    .identity
      display: block

    .service

    .credentials

    .discounts

    .actions
      margin-top: 20px