// this file is interpreted in the context of
// .wrapper-outer #wrapper #content

#col-a
  #company_search, #popular_categories
    margin-bottom: 10px
    padding: 15px 15px 12px
    background-color: white
    border: 1px solid $light-grey

  #company_search
    input
      &:focus
        +box-shadow(none)

    .search_wrap
      margin-bottom: 15px
      overflow: hidden

      input
        &[type="search"]
          border: 1px solid $light-grey
          float: left
          background: none
          width: 241px
          height: 16px
          padding: 6px 16px
          // color: #999
          font-size: 13px
          vertical-align: middle

        &[type="submit"]
          @extend .ui-button
          @extend .ui-wigdet
          @extend .ui-state-default
          // +button(simple, $blue)
          // background-image: none
          font-size: 15px
          padding: 5px 16px
          float: right
          margin: 0
          &:hover
            @extend .ui-state-hover
          &:focus
            @extend .ui-state-focus

    .filter
      .chzn-container-multi
        ul.chzn-choices
          border: 1px solid $light-grey
          background: inherit

          .search-field
            input
              padding-left: 16px
              // color: inherit

      // style the naked select to avoid such a dramatic update when Chosen kicks in
      select
        width: 100%
        height: 29px
        margin-left: 0
        padding: 6px 0 0 16px
        border: 1px solid $light-grey
        color: $grey
        background-color: transparent
        +opacity(0.5)

  #popular_categories
    & > h3
      margin-bottom: 15px

    .sub_category
      +normal-links
      padding: 5px

      & + .sub_category
        border-top: 1px solid $light-grey


  .pagination
    float: right
    overflow: hidden

    span
      margin: 0 3px
      line-height: 11px

      &.next, &.prev
        a
          +hide-text
          +inline-block
          +icons-sprite-dimensions('arrow-right-small_blue_10')

      &.next a
        +icons-sprite('arrow-right-small_blue_10')
        &:hover
          +icons-sprite('arrow-right-small_black_10')
      &.prev a
        +icons-sprite('arrow-left-small_blue_10')
        &:hover
          +icons-sprite('arrow-left-small_black_10')

  .results
    background-color: white
    border: 1px solid $light-grey
    margin-bottom: 10px

    .pagination
      margin: 15px 10px 12px 0

    h4
      float: left
      color: $blue
      margin: 13px 0 12px 10px
      margin-left: 10px



    ul.companies
      border-top: 1px solid $light-grey
      margin-top: 15px
      clear: both
      +clearfix

      li
        padding: 11px
        font-size: 12px
        border-bottom: 1px solid $light-grey
        cursor: pointer
        overflow: hidden

        &:last-of-type
          border-bottom: none

        &.inactive
          color: $grey

        &:hover
          color: $blue
          background: $blue-tint
          a
            color: $blue
          .arrow
            +icons-sprite('arrow-right_blue_20')
            +icons-sprite-dimensions('arrow-right_blue_20')

        &.selected
          color: $white
          background-color: $blue
          a
            color: $white
          .arrow
            +icons-sprite('arrow-right_white_20')
            +icons-sprite-dimensions('arrow-right_white_20')

        h3
          float: left
          text-transform: uppercase
          clear: both
          line-height: 20px

        .arrow
          float: right

  .footer
    padding: 0

    .pagination
      margin: 0
    .search_summary


#col-b
  #company_details
    & > .tabs
      & > ul.nav.tab_bar
        & > li
          font-size: 17px

      & > header
        overflow: hidden
        +clearfix
        margin: 20px 0

        & > h2, & > .in_business_since
          float: left
        & > h2
          margin-bottom: 0
          font-weight: bold
          font-size: 14pt

        & > .in_business_since
          font-size: 11px
          font-weight: normal
          text-transform: capitalize
          margin: 6px 0 10px 15px

        & > .actions
          position: absolute
          top: -50px
          right: -10px
          & > a
            font-size: 16px

      // the buyers' guide before a company is selected
      &.welcome-messages
        font-size: 18px
        line-height: 30px

        & > #initial
          $pp_seal_vert_margin: 5px

          #preferred_provider_seal
            // no need for full margin, since the line-height thing provides the correct space below
            // the image. In the event that the calculation isn't working in some browser, the lack
            // of margin will avoid that causing problems.
            margin-bottom: 5px

          p
            // this helps to avoid extra spacing under the seal image
            line-height: 35px
            margin-bottom: 16px
            clear: none

          p:nth-of-type(n+2)
            clear: left

          p:last-child
            margin-bottom: 0



    // .listing, .capabilities, .credentials, .discounts, .reviews
    .tab
      // hide all the tabs by default, so, before jQuery kicks in, we don't see them all
      display: none
      &#initial
        // don't hide the initial tab
        display: block
      &.ui-tabs-panel
        // as soon as the ui-tabs-panel is attached, it's safe to set that back, since they'll also have ui-tabs-hidden
        display: block

      h2
        font-size: 17px

      h3
        font-size: 15px
        margin-bottom: 10px
        font-weight: bold

      h4
        font-size: 14px
        margin: 0 0 10px 0

      label
        font-weight: bold

      ul
        clear: both

        & > li
          h4
            margin: 10px 0 5px 0

          ul
            list-style: disc
            padding-left: 30px

      section
        border-bottom: 1px solid $light-grey
        padding-bottom: 10px
        margin: 20px 0
        clear: both
        +clearfix

        &:first-child
          margin-top: 0

        &:last-child
          border-bottom: none
          padding-bottom: 0
          margin-bottom: 0

    .listing
      .locations
        +clearfix
        address
          font-style: normal
          float: left
          width: 220px
          margin: 0 10px 10px 0

    .capabilities

    .credentials
      .insurance
        .certificate
          margin-top: 5px
          a
            color: $blue

      .affiliations, .associations, .certifications
        .tab
          padding: 0 10px

          div
            margin: 10px 0

        .dates, .name
          font-size: 110%

        .url
          a
            color: $blue

        label
          display: block

    .discounts
      label
        display: block

    .reviews

#preferred_provider_seal
  +image-dimensions('preferred_provider_seal.png')
