// This file is interpreted in the context of
// .wrapper-outer > #wrapper > #content.session

fieldset
  border: none

.login-messages,
.login-btns
  margin-left: 148px
  margin-bottom: 20px

.login-btns
  input
    @include inline-block
    margin-right: 10px

.login-messages
  a
    display: block
    margin-bottom: 20px

  p
    margin-bottom: 0

