// This file is interpreted in the context of
// .wrapper-outer > #wrapper > #content.session

fieldset
  border: none

.login-messages,
.login-btns
  margin:
    top:    0
    right:  144px
    bottom: 20px
    left:   148px

.login-btns
  input
    +inline-block
    margin-right: 10px

.login-messages
  a
    display: block
    margin-bottom: 20px

  p
    margin-bottom: 0

