// This file is interpreted in the context of
// .wrapper-outer > #wrapper > #content > #col-a

.sidebar-nav
  li
    +clearfix
    line-height: 20px
    margin: 0 0 10px

    &.disabled
      a
        color: $grey

    &.active
      a, a:hover, a:focus
        background: $blue
        border-color: $blue
        color: white

        .arrow
          +icons-sprite('arrow-right_white_20')
          +icons-sprite-dimensions('arrow-right_white_20')

      a:focus
        color: rgba(white, 0.5)

        .arrow
          +icons-sprite('arrow-right_trans-white_20')
          +icons-sprite-dimensions('arrow-right_trans-white_20')

    a
      border: 1px solid $light-grey
      background-color: white
      text-transform: uppercase
      color: $text
      // font-weight: bold
      display: block
      padding: 10px 10px 10px 10px
      // float: left

      &:hover, &:focus
        background: $very-light-grey
        color: $blue
        text-decoration: none

        .arrow
          +icons-sprite('arrow-right_blue_20')
          +icons-sprite-dimensions('arrow-right_blue_20')

    .arrow
      float: right

.activation_status
  border:
    width: 1px
    style: solid
  padding: 10px
  font-size: smaller

  &.active
    border-color: $blue
    background-color: $blue-tint
  &.active_not_visible
    border-color: $orange
    background-color: $orange-tint
  &.not_active
    border-color: $red
    background:  $red-tint

  h4
    font-weight: bold
    margin: 0
    padding: 0
    font-size: 110%

  ul
    padding: 10px 0 0 0
    list-style: none
    li
      padding: 0 0 0 25px
      height: 20px
      vertical-align: middle
    li.satisfied
      +icons_sprite('check_blue_20')
      text-decoration: line-through
      color: $blue
    li.incomplete
      +icons_sprite('denied_red_20')
      color: $red
