.popup, .what_is_this
  +normal-links

  & > .hint
    font-style: italic

  & > .content
    display: none
    text-align: left
    background-color: $blue-tint
    border: 1px solid $blue
    padding: 3px 8px

