legend, header

  & > h3.floated
    float: left

  & > .what_is_this
    text-align: right

    & > .content
      text-align: left
      clear: both
      margin: 0 0 10px 0

      & > p
        margin: 5px 0


.popup, .what_is_this
  +normal-links

  & > .hint
    font-style: italic

  & > .content
    display: none
    text-align: left
    background-color: $blue-tint
    border: 1px solid $blue
    padding: 3px 8px
    font-size: 13px

