// Styles here should be only those which set-up the structure of the page. Put styles for
// constituent sections into their own files, as was done with #header and #content

#wrapper, #copyright
  width: 960px
  margin: 0 auto

#wrapper
  background-color: $white
  +box-shadow(0 0 30px #999)

#header
  position: relative
  z-index: 10
  padding: 10px 10px 0
  border-bottom: 1px solid $light-grey
  +box-shadow(0 6px 12px -7px #999)

// don't bother nesting this, since all header components are unique to the page and can be ID'ed
@import header

// use the id selector only for these props, so they don't apply to all .content elements (.content
// is indended to be the top-level content div to wrap the content body, but it might get used
// elswhere accidentally... perhaps this one should get a less generic name?)
#content
  overflow: hidden
  min-height: 400px
  padding: 20px 10px 10px 10px
  background-color: $white
  border-bottom: 1px solid $light-grey
  +box-shadow(0 6px 12px -7px #999)
// this .content is the same as #content, but I want to use a class selector for the nested stuff,
// for specificity concerns
.content
  &.col-2
    // default 2-column layout for pages with sidebar-nav
    @import col_2

  &.col-2-wide
    // wider 2-column layout (for search pages, for example)
    @import col_2_wide

  &.col-1
    // one-column layout for the login page
    @import col_1

  @import content

#col-a, #col-b
  float: left

// #col-a
#col-b
  padding: 20px
  margin-left: 10px
  min-height: 100px

#footer
  position: relative
  padding: 20px
  color: $blue
  font-size: 12px
  overflow: hidden

// don't bother nesting this, since all footer components are unique to the page and can be ID'ed
@import footer

#copyright
  margin: 30px auto 50px



