#development
  margin-top: 100px
  border-top: 15px solid #666
  padding: 20px
  background-color: #ffeb99

  #comments
    border: 2px solid #666
    & > h3
      background: #666
      color: white
      padding: 5px

    select
      height: auto

    #disqus_thread
      margin: 20px

      #dsq-global-toolbar
        margin-top: -46px !important

      .dsq-comment-header
        padding: 5px

      .dsq-collapse-toggle
        top: 3px

      .dsq-trackback-url
        display: none

      #dsq-pagination
        display: none

      #dsq-content
        .dsq-comment
          .dsq-comment-header
            margin-bottom: 0
          .dsq-comment-message
            padding-top: 1em
            background-color: #fff
            padding: 10px
            -webkit-border-radius: 0 0 10px 10px
            -moz-border-radius: 0 0 10px 10px
            border-radius: 0 0 10px 10px

